body{
	background-color:#9dc0f9;
	font-family:Geneva;
	color:black;
}

.wrap {
float: left;
margin: 10px;
}

.donaldgraph {
display: block;
margin: 30px;
}

.hillarygraph{
display: block;
margin: 30px;
}
ul{
	list-style-position:inside;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

Hilary Clinton{
display: block;
margin: 30px;
}