body{
	background-color:#9dc0f9;
	font-family:Geneva;
	color:black;
}

.wrap {
float: left;
margin: 10px;
}

.donaldgraph {
display: block;
margin: 30px;
}

.hillarygraph{
display: block;
margin: 30px;
}
